.outForms{
    max-width: 1440px;
    background-color: #384b56;
}

.forms{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background: #405D6D;
    border-radius: 10px;
}

.forms input {
    box-sizing: border-box;
     /*comentar depois*/
}

.inputField {
    display: flex;
    justify-content: space-around;
    max-height: 40px;
    margin-bottom: 1.5em;
    border: 2px solid red;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 45%;
    min-width: 40%
}

.endereco{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
}

label{
    color: white;
}

input {
    max-width: 100%;
}

.buttonDiv {
    height: 20px;
    position: relative;
}

.signIn {
    margin-left: 50%;
    position: absolute;
    top: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}