@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

* {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.outForms{
    max-width: 1440px;
    background-color: #384b56;
}

.forms{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background: #405D6D;
    border-radius: 10px;
}

.forms input {
    box-sizing: border-box;
     /*comentar depois*/
}

.inputField {
    display: flex;
    justify-content: space-around;
    max-height: 40px;
    margin-bottom: 1.5em;
    border: 2px solid red;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 45%;
    min-width: 40%
}

.endereco{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
}

label{
    color: white;
}

input {
    max-width: 100%;
}

.buttonDiv {
    margin-bottom: 10px
}

.signIn {
    position: relative;
    margin-left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 150px;
    height: 30px;
    margin-bottom: 5px;
    background-color: #33C5F3;
    font-weight: bold;
    color: rgb(27, 27, 27);
    border-radius: 10px;
    border: none;
}